div {
  white-space: pre-wrap;
  margin-left: 10px !important;
}

.message-modal {
  height: 800px;
  width: 1000px;
}


.message-class {
  background: azure;
  border-style: double;
}

.margin-20 {
  margin: 20px;
}
