<h1 class="email-config-header"><strong>Email config</strong></h1>

<div class="margin-left-50">
  <div class="margin-20"><strong>Notification channels:</strong>
    <div class="form-check" *ngFor="let channel of notificationChannels">
      <input class="form-check-input" type="checkbox" id="channelActive_{{channel.id}}" [(ngModel)]="channel.active"
             [checked]="channel.active"/>
      <label class="form-check-label" for="channelActive_{{channel.id}}">{{channel.type}}</label>
    </div>
    <button mat-raised-button color="primary" (click)="saveNotificationChannels()" class="margin-right-20">Save</button>
  </div>

  <div class="margin-20"><strong>Mail notification recipients</strong>
    <cdk-virtual-scroll-viewport itemSize="70" class="notification-recipients">
      <div *cdkVirtualFor="let recipient of notificationRecipients"
           class="margin-5 padding-20 recipient-div">{{recipient.email}}
        <button mat-raised-button color="warn" class="delete-recipient-btn" (click)="removeRecipient(recipient.id)">
          Delete
        </button>
      </div>
    </cdk-virtual-scroll-viewport>

    <mat-form-field class="email-form">
      <mat-label>Add new recipient</mat-label>
      <input matInput placeholder="example@domain.com" class="email-input margin-top-5" [(ngModel)]="newRecipientEmail">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="saveNotificationRecipients(newRecipientEmail.valueOf())"
            class="margin-right-20 add-recipient-btn">Add recipient
    </button>
  </div>
</div>
